.sidebar{
    min-height:100vh;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #f0f4f9;
    padding:25px 15px;

}
.sidebar p:hover{
    background-color:#e2e6eb ;
    cursor:pointer;
}
.sidebar img{
    width:20px;
}
.sidebar .menu{
    display:block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new_chat{
    margin-top: 50px;
    display:inline-flex;
    align-items: center;
    gap:10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: gray;
    cursor: pointer;


}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar .recent_title{
    margin-top:30px;
    margin-bottom: 20px;
}
.sidebar .recent_entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color:#282828;
    cursor: pointer;
 
}
 
.sidebar .recent_entry p:hover{
  background-color:#e2e6eb ;
  cursor:pointer;
}
.sidebar .bottom{
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}
.sidebar .bottom-item{
   padding-right:10px;
   cursor: pointer;

}